.buscadas {

  width: 24%;


}

@media (max-width: 599px){

  .buscadas {
    width: 48%;
  }
}


.buscadas img{
  width: 100%;
}

.todas {
display: flex;
width: 100%;
flex-wrap: wrap;
margin-left: 25px;
margin-right: auto;
}

.todas {
  background-color:  #262525;
}

main {
  background-color:  #262525;
}
