main{
  color: white;
  font-size: 20px;
 border: solid blue 2px;
}


.imgSerieContainer{
  width: 45%;
  height: 500px;
  border: solid red 2px;
}

.imgSerie {
  width: 50%;
  height: 50%;
}

.tituloSerie {
  text-align: center;

}
